<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>{% if page.title == "Home" %}{{ site.title }} &middot; {{ site.tagline }}
    {% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>

  <meta name="description" content="Swift, iOS, Technology, 앱 개발">

  <!--open graph-->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:image" content="http://daheenallwhite.github.io/assets/logo.png">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800">
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css?family=Noto+Sans+KR:500,550,600,700,800>">
  <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/icons/apple-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/icons/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  
  <script data-ad-client="ca-pub-3774613321394392" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
